.left-drawer {
  @include background-gradient-appbar();

  height: calc(100% - 72px);
  padding-bottom: 0 !important;

  z-index: 200;
}

.logo-drawer {
  img {
    margin: 0 auto;
    width: 100%;
    max-width: 50px;
  }
}

.group-list-drawer {
  background: transparent !important;
}

.child-drawer {
  background-color: #3c516d;
}

.left-drawer-item.active-drawer {
  border-left: 3px solid #d94255 !important;
}

.text-drawer {
  color: #d94255 !important;
}
